%h3= @oven.name

.cookie-info
  Cookie(s) in oven:
  - if @oven.cookies.present?
    - @cookie = @oven.cookies.first
    #{@oven.cookies.count} cookie(s) with #{cookie_fillings_message(@cookie)}
    - if @oven.cookies.first.ready?
      (Your Cookie is Ready)
    - else
      .oven_status{ :id => "oven_status_#{@oven.id}" }
        (status: #{@cookie.status}) 
    = button_to "Retrieve Cookie", empty_oven_path, class: 'button tiny'
  - else
    None
  = link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button prepare'
%br


